div.card {
    /* border-radius: 3px; */
    /* border: 3px solid black; */
    width: 17em;
    height: 20em;
    margin: 2em;
    padding: 1em;
    display: inline-block;
    text-align: center;
  }

img.park-img {
  width: 200px;
  height: 200px
}