.park-details-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    text-align: center;
}

.name-container {
    text-align: left;
    margin: 30px 0px 10px 0px;
}

.add-badge {
    color: black;
    background: #eeeaea;
    padding-top: 6px;
    padding-bottom: 6px;
    vertical-align: middle;
    border: none;
    border-radius: 5px;
}

.body-container {
    display: flex;
    flex-direction: row;
    position: relative;

}

.left-panel {
    width: 1000px;
    display: flex;
    flex-direction: column;
}

.right-panel {
    width: 600px;
}

#park-image {
    height: 600px;
    width: 880px;
    object-fit: cover;
}

.map, #map {
    margin-left: 10px;
    width: 400px;
    height: 100%;
    position: absolute;
}

.add-badge:disabled{
    font-style: italic;
    color: #666666;
}

.details {
    margin: 20px 20px 0 0;
    text-align: left;
    padding: 20px 40px 0px 0px;

}

.description {
    font-size: 700;
}

.info {
    line-height: 1.5;
    font-size: 14px;
}

ul {
    padding: 0;
    text-align: left;
    display: flex;
    margin-bottom: 150px;
}

.card {
    margin: 5px;
    padding: 10px;
}


.card-body {
    width: 252px;
    height: 240px;
    display: inline-block;
    padding: 5px;
}

.fa-heart-o {
    color: red;
    cursor: pointer;
}

.fa-heart {
    color: red;
    cursor: pointer;
}


.dbtn {
    width: 90px;
    background: #000000;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 2px 15px 2px 15px;
    text-decoration: none;
    text-align: center;
  }

h4 {
    width: 80%;
}
