h2 {
    margin-top: 40px;
    font-weight: 700;
}

.add-badge {
    font-size: 13px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin-bottom: 5px;
}

.fa-award {
    color: black;
}

.prompt-login {
    font-size: 14px;
}

#park-image {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

#map {
    width: 100%;
    height: 100%;
}

.add-badge:disabled{
    font-style: italic;
    color: #666666;
}

.details {
    margin: 20px 20px 0 0;
    text-align: left;
    padding: 20px 40px 0px 0px;
}

.description {
    font-size: 700;
}

.info {
    line-height: 1.5;
    font-size: 14px;
}

hr {
    border-top: 8px dotted rgb(0, 0, 0);
    width: 7%;
    border-bottom: none;
    margin: 70px auto;
    background-color: #FFF9F9;
    opacity: .25;
}

/* Hiking trails CSS */

.card {
    margin: 20px 8px 60px 0;
    padding: 10px 10px 10px 10px;
}

.fa-heart-o {
    color: red;
    cursor: pointer;
}

.fa-heart {
    color: red;
    cursor: pointer;
}

.dbtn {
    width: 90px;
    background: #000000;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 2px 15px 2px 15px;
    text-decoration: none;
    text-align: center;
  }

.top-row {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.trail-title {
    padding: 5px 30px 0 0;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-group-item {
    padding: 5px 5px 5px 0;
    font-size: 14px;
    border: none;
}