#root {
    padding: 20px 20px;
    text-align: center;
}


/******* file upload CSS *******/
#alias-file {
    color: #fff;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font: inherit;
    background: black;
    font-size: 13px;
    margin-bottom: 5px;
  }

#file-chosen {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 14px;
}



.upload-container {
    margin-top: 20px;
    display: flex;
    justify-content: left;
}

.post-button-container {
    display: flex;
    justify-content: right;
}

#post-button{
    margin-top: 10px;
    color: #fff;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font: inherit;
    background: black;
    font-size: 13px;
}


/******* trails CSS *******/
.trails-container {
    margin-top: 50px;
}

.fa-gratipay {
    color: red;
    margin-right: 10px;
}

.liked-trails {
    font-size: 14px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: black
}

/******* cards CSS *******/
p.text {
    font-size: 16px;
    height: 250px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

p.date {
    padding-top: 20px;
    font-size: 14px;
    font-style: italic
}


.card {
    color: inherit;
    cursor: pointer;
    max-width: 500px;
    min-width: calc(33% - 3rem);
    height: 400px;
    min-height: 400px;
    perspective: 1000px;
    margin: 1rem auto;
    position: relative;
    background-color: #FFF9F9;

}

.front, .back {
    display: flex;
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: ease-in-out 600ms;
}

.front {
    background-size: cover;
    padding: 2rem;
}

.front:before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, #1a9be6, #1a57e6);
    opacity: 0.25;
    z-index: -1;
}

.back {
    background: #fff;
    transform: rotateY(-180deg);
    padding: 0 2em;
}

.delete-container {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding-top: 10px;
}

.button {
    transform: translateZ(40px);
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-top: 10px;
    color: #fff;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    font: inherit;
    background: black;
    font-size: 13px;
}

.card:hover .front {
    transform: rotateY(180deg);
}
.card:nth-child(even):hover .front {
    transform: rotateY(-180deg);
}

.card:hover .back {
    transform: rotateY(0deg);
}
.card:nth-child(even) .back {
    transform: rotateY(180deg);
}
.card:nth-child(even):hover .back {
    transform: rotateY(0deg);
}



/****** badges CSS ******/
#badge-img {
    max-width: 100%;
    height: auto;
    padding: 10px;
}

h4 {
    text-align: center;
}
