body {
    background-color: #EAF6F6;
    font-family: sans-serif;
}

.navbar {
    margin-bottom: 0px;
    font-family: Helvetica;
    border: None
}

#navbarCollapse {
    display: flex;
    flex-direction: row;
}

.navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
    color: #fff;
    background: #000000;
    padding-top: 6px;
    padding-bottom: 6px;
    vertical-align: middle;
    border: none;
}

.navbar ul.nav li.open > a.get-started-btn {
    color: #fff;
    background: #000000 !important;
}

.navbar .dropdown-menu.form-wrapper {
    width: 280px;
    padding: 20px;
    left: auto;
    right: 0;
    font-size: 14px;
}

.logo img {
    height: 90px;
    width: 220px;
}


.container  {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin: auto;
    width: 60%;
    /* padding: 10px; */
}

#avatar {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.dropdown-toggle {
    color: black
}


/* search css */
.input-group {
    display: flex;
    flex-direction: row;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}



