{% extends 'base.html' %}
{% block title %}National Parks App{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/homepage.css" />
<link rel="stylesheet" href="/static/css/card.css" />

{% endblock head %}

{% block body %}
<div class="homepage-container">
  <div class="banner-container">banner</div>



  <div class="react-container">
    <div class="cards-container">
      <!-- <div id="cards-group"></div> -->
    </div>
  </div>

</div>

<!-- search javascript -->
<script src="/static/js/search.js"></script>
<!-- react jsx -->
<script src="/static/js/Card.jsx" type="text/jsx"></script>
{% endblock %}