{% extends 'base.html' %}
{% block title %}National Parks App{% endblock %}

{% block body %}
  <h1>National Parks</h1>

  <h2>Navigation Bar</h2>

  <h2>Log In or <a href="/createaccount">create a new account</a></h2>
  
  <form action="/login" method="POST">
    <p>
      Username <input type="text" name="username">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>

  <ul>
  {% for park in parks %}
    <li>
      <a href="/{{park.park_id}}"> {{ park.park_name }}</a>
    </li>
    {% endfor %}
  </ul>
{% endblock %}