{% extends 'base.html' %}
{% block title %}{{ park.park_name }} - Details {% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/park_details.css" />
{% endblock head %}

{% block body %}
<div id="{{park.park_id}}" class="park-details-container">
  <!-- create hidden so I can make request in Ajax with username -->
<input type="hidden" id="hidden-username" value="{{ session['username'] }}">

  <section class="name-container">
    <h1>{{ park.park_name }}</h1>
    {% if ('username' in session) and (user_has_saved_park == false) %}
          <button class="add-badge" type="button" id="add-badge">Add badge</button>
    {% elif ('username' in session) and (user_has_saved_park == true) %}
          <button class="add-badge" type="button" id="add-badge" disabled>Added</button>
    {% else %}
          <p>
            <a href="/">Log in</a> or <a href="/createaccount">sign up</a> to start collecting badges!</p>
    {% endif %}
  </div>

  <section class="body-container">

    <div class="left-panel">
      <div class="image">
        <img id="park-image" src="{{ park.img }}">
      </div>

      <div class="details">
        <div id="description"> {{ park.description }} </div>
        <div id="fee"> {{ park.fee }} </div>
        <div id="state"> This park is in state: {{ park.state }} </div>
        <div id="weather"> {{ park.weather }} </div>
        <div id="hours-exception"> {{ park.hours_exception }} </div>
      </div>
      <a href="/">Back to homepage</a>
    </div>

    <div class="right-panel">
      <div class="map">
        <div id="map"></div>
      </div>
      <div class="trails">
        <div id="popular-trails">Most popular Hikes</div>
        <div class="trail-list">
          <ul>
            {% for trail in trails %}
              <li>
                {{ trail.trail_name }}
              </li>
              {% endfor %}
            </ul>
        </div>
      </div>
    </div>

  </div>
</div>
<script src="/static/js/addBadge.js"></script>
<script src="/static/js/map.js"></script>
<script
  async
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWsfmvZ2pKDefqTDi-UH0HuB5pM_ZwPEM&callback=initMap">
</script>
{% endblock %}