{% extends 'base.html' %}
{% block title %}{{ park.park_name }} - Details {% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/park_details.css" />
{% endblock head %}

{% block body %}
<div id="{{park.park_id}}" class="park-details-container">
  <!-- create hidden so I can make request in Ajax with username -->
<input type="hidden" id="hidden-username" value="{{ session['username'] }}">

  <section class="name-container">
    <h1>{{ park.park_name }}</h1>

    {% if 'username' in session %}
      {% if (user_has_saved_park == false) %}
          <button class="add-badge" type="button" id="add-badge">Add badge</button>
      {% else %}
          <button class="add-badge" type="button" id="add-badge" disabled>Added</button>
      {% endif %}

      <script src="/static/js/addBadge.js"></script>
    {% else %}
          <p>
            <em>Log in</em> or <em>sign up</em> to start collecting badges!
          </p>
    {% endif %}
  </section>

  <section class="body-container">

    <div class="left-panel">
      <div class="image">
        <img id="park-image" src="{{ park.img }}">
      </div>

      <div class="details">
        <div id="description"> {{ park.description }} </div>
        <div id="fee"> Fee: {{ park.fee }} </div>

        <!-- //this is the line that's throwing an error  -->
        <div id="state"> This park is in state: {{ trails[0].state }} </div>
        <!-- <div id="state"> This park is in state: {{ park.state }} </div> -->
        <div id="weather">Typical weather: {{ park.weather }} </div>
        <div id="hours-exception">Hours exception: {{ park.hours_exception }} </div>
      </div>
    </div>

    <div class="right-panel">
      <div class="map">
        <div id="map"></div>
      </div>
    </div>
  </section>
  <hr>

  <h3 id="popular-trails">Most popular Hikes</h3>

  <ul>
    {% for trail in trails %}

    <div class="card" style="width: 25rem;">
      <div class="card-body">
        <h4 class="card-title">{{ trail.trail_name }}</h4>

        <span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>

          <div class="dbtn">
            {% if trail.difficulty == 1 or trail.difficulty == 2 %}
            <div class="easy">easy</div>
            {% elif trail.difficulty == 3 or trail.difficulty == 4 %}
            <div class="mod">moderate</div>
            {% else %}
            <div class="hard">hard</div>
            {% endif %}
          </div>
          <p><strong>Length:</strong> {{ trail.length }}</p>
          <p><strong>Elevation Gain:</strong> {{ trail.elevation_gain }}</p>
          <p><strong>Type:</strong> {{ trail.route_type }}</p>

      </div>
    </div>
    {% endfor %}
  </ul>


</div>

<script src="/static/js/map.js"></script>
<script src="/static/js/favorite.js"></script>
<script
  async
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWsfmvZ2pKDefqTDi-UH0HuB5pM_ZwPEM&callback=initMap">
</script>
{% endblock %}
