{% extends 'base.html' %}
{% block title %}National Parks App{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/profile_page.css" />

{% endblock head %}

{% block body %}
<div class="profile-container">

  <section id="profile-info">
      <input type="hidden" id="hidden-username" value="{{ session['username'] }}">
      <h1>Welcome {{ user.name }}</h1>
  </section>

  <div class="container" id="p-container">
  <div class="row">
    <div class="col-3">
      <form id="blog-form" action="/profile/{{ user.username }}/post-form-data" method="post" enctype="multipart/form-data">
        <input type="file" name="my-file" id="file">
        <textarea name="blog-text"></textarea>
        <input type="submit" id="submit-pictures">
      </form>
    </div>

    <div class="col-6">
        {% for entry in entries %}
        <div class="card" >
            <div class="front" style="background-image: url('{{ entry.url }}');">
            </div>
            <div class="back">
              <div>
                <p class="text">"{{entry.text}}"</p>
                <p class="date">{{entry.date}}</p>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="col-3">
      <label>Badge Collection:</label>
      {% for id in saved_park_id %}
      <div>
        <img src="/static/img/badges/{{ id }}.png">
      </div>
      {% endfor %}
    </div>

  </div>
</div>

<!-- <script src="/static/js/uploadPhotos.js"></script> -->
<script src="/static/js/search.js"></script>
{% endblock %}